//entering a div in the middle of the screen
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.technology {
  color: #fff;
  min-width: 100vw;
  width: fit-content;
  min-height: 100vh;
  height: fit-content;
  padding-right: 0 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (width <= 1068px) {
    padding-inline: 0 !important;
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }

  @media (width <= 768px) {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }

  .tabs {
    display: flex;
    justify-content: center;

    @media (width <= 1068px) {
      > div {flex-direction: column}
    }

    @media (width <= 768px) {
    }

    @media (width <= 640px) {
    }
    div {
      display: flex;
    }
    .portrait {
      margin: auto;
      aspect-ratio: 1/1;
      @media (width <= 1068px) {
        display: none;
      }

      @media (width <= 768px) {
        width: 20rem;
      }

      @media (width <= 640px) {
      }
    }
    .landscape{
      display: none;
      width: 100%;
      @media (width <= 1068px) {
        display: inline;
      }
    }

    .tab-btn-container {
      display: flex;
      flex-direction: column;
      width: fit-content;
      justify-content: space-around;
      height: 500px;
      margin: auto;
      p{
        font-family: 'Bellefair', serif;
      }
      @media (width <= 1280px) {
        width: 100%;
        max-width: unset;
        justify-content: center;
      }

      @media (width <= 1068px) {
        width: 50%;
        max-width: unset;
        flex-direction: row;
        height: fit-content;
      }

      @media (width <= 768px) {
        width: 80%;
        max-width: unset;
      }

      @media (width <= 640px) {
        width: 100%;
      }
      .tab-btn {
        position: relative;
        color: white;
        border: none;
        aspect-ratio: 1/1;
        font-size: 20px;
        padding-block: 1rem;
        width: 80px;
        height: 80px;
        border-radius: 99999px;
        border: 1px solid white;
        background-color: transparent;

        &.active {
          color: black;
          background-color: white !important;
        }
        transition: all 0.2s ease-in-out;
       &:hover{
          background-color: white;
          color: black;
          transition: all 0.2s ease-in-out;
       }
       @media (width <= 1280px) {
        width: 60px;
        height: 60px;
        margin:1rem;
      }

      }
    }
    .tab-content {
      display: flex;
      flex-direction: row;
      padding-block: 2rem;
      @media (width <= 1068px) {
        flex-direction: column-reverse;
      }

      .tab-content_content {
        display: flex;
        padding-inline: 10rem;
        flex-direction: column;
        max-width: 60%;
        margin: auto;
        @media (width <= 1280px) {
          width: 100%;
          max-width: unset;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        @media (width <= 1068px) {
          width: 100%;
          justify-content: unset;
          align-content: unset;
          text-align: left;
          max-width: unset;
        }

        @media (width <= 768px) {
          width: 80%;
          max-width: unset;
        }

        @media (width <= 640px) {
          width: 100%;
        }
        
        h1 {
          font-weight: 100;
          font-size: 4dvw;
          text-transform: uppercase;
          @media (width <= 1068px) {
            font-size: 5dvw;
          }
        }
        h3{
          font-family: "Cambria, Cochin, Georgia, Times, "Times New Roman","
          serif;
          text-transform: uppercase;
          font-weight: 100;
        }
        h4 {
          @media (width <= 1068px) {
            line-height: 2.2rem;
          }
            
          line-height: 3rem;
        }
        p {
          color: rgba(255, 255, 255, 0.648);
        }
      }
    }
  }
}
